{% comment %}
  Category Slider Section - Horizontal scrolling category menu
{% endcomment %}

<div class="o-category-slider" data-behavior="categorySlider">
  <div class="o-category-slider__container">
    <ul class="o-category-slider__list">
      {% comment %} Determine active state for homepage {% endcomment %}
      {% assign is_homepage = false %}
      {% if template.name == 'index' %}
        {% assign is_homepage = true %}
      {% endif %}
      
      {% comment %} TOPS Category {% endcomment %}
      <li class="o-category-slider__item">
        <a href="#" class="o-category-slider__link {% if collection.handle == 'tops' or is_homepage %}o-category-slider__link--active{% endif %}" data-category-filter data-collection="tops" data-collection-title="Tops">
          <span class="o-category-slider__text">TOPS</span>
        </a>
      </li>
      
      {% comment %} BOTTOMS Category {% endcomment %}
      <li class="o-category-slider__item">
        <a href="#" class="o-category-slider__link {% if collection.handle == 'bottoms' %}o-category-slider__link--active{% endif %}" data-category-filter data-collection="bottoms" data-collection-title="Bottoms">
          <span class="o-category-slider__text">BOTTOMS</span>
        </a>
      </li>
      
      {% comment %} 1 OF 1 PIECES Category {% endcomment %}
      <li class="o-category-slider__item">
        <a href="#" class="o-category-slider__link {% if collection.handle == '1-of-1s' %}o-category-slider__link--active{% endif %}" data-category-filter data-collection="1-of-1s" data-collection-title="1 of 1 Pieces">
          <span class="o-category-slider__text">1 OF 1 PIECES</span>
        </a>
      </li>
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Category Slider",
  "settings": [],
  "presets": [
    {
      "name": "Category Slider"
    }
  ]
}
{% endschema %}
