{% comment %}
  Collection Template - Converted from ProductListingPage.jsx
{% endcomment %}

<div class="min-h-screen bg-white">
  <div class="a17-grid__right">
      <div class="home-main homepage">
        {% comment %} Category Slider {% endcomment %}
        {% section 'category-slider' %}
        
        <div class="o-search" data-behavior="oSearch">
          {% comment %} Breadcrumb {% endcomment %}
          <div class="m-breadcrumb m-breadcrumb--inline" data-behavior="mBreadcrumb">
            <div class="m-breadcrumb__items">
              <div class="m-breadcrumb__item f-body--em">
                <h1>{{ collection.title | default: 'NEW COLLECTION WOMEN' }}</h1>
              </div>
            </div>
          </div>

          {% comment %} Filters Header {% endcomment %}
          <div class="m-filters" data-behavior="mFilterSticky">
            <div class="m-filters__header">
              <ul class="m-filters__header-ctas f-body">
                <li>
                  <div class="m-field m-field--checkbox m-field--availableOnline" data-behavior="mField">
                    <input
                      type="checkbox"
                      id="availableOnline"
                      name="availableOnline"
                      class="m-field__input"
                      data-filter-in-stock
                    >
                    <label class="m-field__label m-field__label--checkbox" for="availableOnline">
                      IN STOCK ONLINE
                    </label>
                  </div>
                </li>

                <li class="m-filters__right-group">
                  <div class="g-selectors" data-behavior="oSorting">
                    <button
                      type="button"
                      class="a-btn a-btn--as-link g-selectors--open"
                      id="sorting-btn"
                      data-sort-toggle
                      aria-expanded="false"
                    >
                      Sort By
                    </button>
                    <div class="g-selectors--menu-wrapper" data-sort-menu style="display: none;">
                      <div class="g-selectors--menu">
                        <button
                          type="button"
                          class="g-selectors--option"
                          data-sort-value="price-ascending"
                        >
                          PRICE LOW TO HIGH
                        </button>
                        <button
                          type="button"
                          class="g-selectors--option"
                          data-sort-value="price-descending"
                        >
                          PRICE HIGH TO LOW
                        </button>
                      </div>
                    </div>
                  </div>

                  <button
                    type="button"
                    class="a-btn a-btn--as-link"
                    data-filters-toggle
                    aria-controls="filtersPanel"
                  >
                    FILTERS
                  </button>
                </li>
              </ul>
            </div>
          </div>

          {% comment %} Collection Hero Section - Use section for theme editor {% endcomment %}
          {% section 'collection-hero' %}

          {% comment %} Product Grid or Empty State {% endcomment %}
          {% if collection.products.size > 0 %}
            <ul class="o-listing-grid" data-behavior="oListingGrid">
              {% for product in collection.products %}
                {% render 'product-tile', product: product %}
              {% endfor %}
            </ul>
          {% else %}
            {% comment %} Empty State Message {% endcomment %}
            <div class="o-collection-empty">
              <p class="o-collection-empty__message f-body">
                Sorry, we currently have no items right now.
              </p>
              <a href="#" class="o-collection-empty__notify-link f-body" data-notify-me>
                Notify me
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
