{% comment %}
  Homepage Template - Original Vercel format: Hero + Project Grid + Product Gallery
  Product grid uses 2 products per row
{% endcomment %}

<div class="min-h-screen bg-white">
  <div class="a17-grid__right">
    <div class="home-main homepage">
      {% section 'hero-section' %}
      {% section 'project-grid' %}
      {% section 'image-slider' %}
    </div>
  </div>
</div>
