{% comment %}
  Homepage Template - Converted from LandingPage.jsx
{% endcomment %}

<div class="min-h-screen bg-white">
  <div class="a17-grid__right">
    <div class="home-main homepage">
      {% section 'hero-section' %}
      {% section 'image-slider' %}
      {% section 'product-grid' %}
    </div>
  </div>
</div>
